html,
body {
  height: 100%;
}

#mynetwork {
  width: 50%;
  height: 100%;
  border: 1px solid lightgray;
}

#cont2 {
  width: 50%;
  height: 100%;
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#mynet2 {
  width: 100%;
  height: 100%;
}

#cont {
  width: 100%;
  height: 70%;
  background-color: white;
  display: flex;
  margin: 0 auto;
}

#generate-graph {
  margin: auto;
  display: block;
}

#calculate {
  margin: auto;
  display: block;
}

#topText {
  margin-lf: 40%;
}
